@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --green: #419c84;
  --white: #fff;
  --grey: #f5f9f6;
  --black1: #222;
  --black2: #9999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--green);
  border-left: 10px solid var(--green);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 90px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 200%;
  margin-bottom: 10px;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.navigation ul li:hover {
  background: var(--white);
}
.navigation ul li:nth-child(1) {
  margin-top: 25px;
  margin-bottom: 70px;
  pointer-events: none;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li a.active {
  color: var(--green);
  background-color: var(--white);
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover a {
  color: var(--green);
}
.navigation ul li a .logo img {
  width: 60px;
  height: 60px;
  position: relative;
  display: block;
  line-height: 72px;
  text-align: center;
}
.navigation ul li a .logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.navigation ul li a .logo-text .title {
  font-size: 18px;
  font-weight: bold;
  line-height: 2.4;
}
.navigation ul li a .logo-text .subtitle {
  font-size: 14px;
  font-weight: normal;
  margin-top: -26px;
  margin-bottom: 8px;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 72px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 35px;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0;
  height: 60px;
  line-height: 56px;
  white-space: nowrap;
  font-size: 25px;
  font-weight: 550;
}

/* main */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 72px);
  left: 72px;
}
.main.active .topbar {
  width: 100%;
}
.topbar {
  height: 100px;
  display: flex;
  align-items: center;
  background: var(--grey);
  padding: 0 10px;
  transition: 0.5s;
}
.topbar h1 {
  justify-content: space-between;
  margin-left: 30px;
  font-size: 40px;
}
.toggle {
  display: none;
  position: relative;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

#grafik {
  width: 100%;
}

#dataset-content {
  margin-top: 15px;
  margin-left: 20px;
}

#iframe-dataset {
  margin-bottom: 30px;
}

/* Responsive styles */
@media (max-width: 1100px) {
  .toggle {
    display: flex;
    position: relative;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }

  .main {
    width: 100%;
    left: 0;
  }

  .main h1 {
    font-size: 30px;
    justify-content: space-between;
  }
  main.active {
    left: 0;
  }

  #iframe-dataset {
    width: 100%;
  }
}

@media (max-width: 780px) {
  #grafik {
    width: 100%;
    height: 720px;
  }
}
